@import '../main';
.StorefrontPage {
    .avoidBar;
}

.StorefrontPage-Search {
    background-color: orange !important;
}

.Storefront-Item-Grid-Container {
    width: 70vw !important;
    margin: auto !important;
}
