<!DOCTYPE html>
<html>

<head>
    <title> Enonic React Seedz </title>

</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['assets/vendors'].entry %>"></script>
    <script type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['assets/jsx4xp'].entry %>"></script>
</body>

</html>