<!DOCTYPE html>
<html>

<head>
    <title> Enonic React Seed</title>

    <script type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['assets/vendors'].entry %>"></script>
    <script type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['assets/j4x/common'].entry %>"></script>
</head>

<body>
    <div id="mountHere"></div>
</body>

<script defer type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['assets/j4x/components'].entry %>"></script>
<script defer type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['assets/j4x/app'].entry %>"></script>

