<!DOCTYPE html>
<html>

<head>
    <title> Enonic React Seedz </title>

    <script type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks.vendors.entry %>"></script>
    <script type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['jsx4xp/_common'].entry %>"></script>
</head>

<body>
    <div id="mountHere"></div>
</body>

<script defer type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['jsx4xp/components'].entry %>"></script>
<script defer type="text/javascript" src="{{assetUrl}}/<%= htmlWebpackPlugin.files.chunks['jsx4xp/app'].entry %>"></script>

</html>