/*
    http://lesscss.org/features/
    This file should contain global LESS-variables (properties) and reusable classes. 
    lesscss for other files separate 
*/

@color-primary : rgb(0, 105, 143); //Not used, just as demo
@color-forms : rgba(71, 90, 120, 0.708); 

/*Does not crash with top bar*/
.avoidBar {
    margin-top: 10%; 
}

/*Form-Box*/
.formBox {
    background-color: @color-forms;
}